body {
    margin: 0;
    padding: 0;
}

.big-box {
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.sikomik{
    font-family: 'Baskervville', serif;
    font-weight: bold;
}