{% extends 'base.html' %}}
{% block content %}
<div class='jumbotron'>
    <div class="pagination">
            <span class="step-links sikomik">
                {% if data_anggota.has_previous %}
                    <a href="?page=1" style='color:black; font-weight: bold;'>&laquo; first</a>
                    <a href="?page={{ data_anggota.previous_page_number }}" style='color:green;'>previous</a>
                {% endif %}
        
                <span class="current">
                    Page {{ data_anggota.page_number }} of {{ data_anggota.paginator.num_pages }}.
                </span>
        
                {% if data_anggota.has_next %}
                    <a href="?page={{ data_anggota.next_page_number }}" style='color:green;'>next</a>
                    <a href="?page={{ data_anggota.paginator.num_pages }}" style='color:green;'>last &raquo;</a>
                {% endif %}
            </span>
        </div>
        <table class="table" id="tabelpeminjaman">
                <thead>
                <tr>
                    <th>No. Anggota</th>
                    <th>Id</th>
                    <th>Nama</th>
                    <th>Alamat</th>
                    <th>Tanggal Lahir</th>
                    <th>No. HP</th>
                </tr>
                </thead>
                <tbody>
                {% for anggota in data_anggota %}
                <tr>
                    <td>{{ anggota.no_anggota }}</td>
                    <td>{{ anggota.id }}</td>
                    <td>{{ anggota.nama }}</td>
                    <td>{{ anggota.alamat }}</td>
                    <td>{{ anggota.tanggal_lahir }}</td>
                    <td>{{ anggota.no_hp }}</td>

                </tr>
                {% endfor %}
                </tbody>
            </table>
</div>
{% endblock %}