{% extends 'base.html' %}}
{% block content %}
<div class='jumbotron'>
        <h2 class="sikomik" style="font-size: 1em; background-color grey;">Tidak ada kolom jumlah available karena ternyata table dari komik tidak sinkron dengan tabel yang ada di produk</h2>
    <div class="pagination">
            <span class="step-links sikomik">
                {% if data_produk.has_previous %}
                    <a href="?page=1" style='color:green;'>&laquo; first</a>
                    <a href="?page={{ data_produk.previous_page_number }}" style='color:green;'>previous</a>
                {% endif %}
        
                <span class="current">
                    Page {{ data_produk.id }} of {{ data_produk.paginator.num_pages }}.
                </span>
        
                {% if data_produk.has_next %}
                    <a href="?page={{ data_produk.next_page_number }}" style='color:green;'>next</a>
                    <a href="?page={{ data_produk.paginator.num_pages }}" style='color:green;'>last &raquo;</a>
                {% endif %}
            </span>
        </div>
    <table class="table" id="tabelpeminjaman">
        <thead>
        <tr class='sikomik' style='color:green; font-weight: 800;'>
            <th>id</th>
            <th>Nama</th>
            <th>jumlah</th>
            <th>tipe_produk</th>
        </tr>
        </thead>
        <tbody>
        {% for produk in data_produk %}
        <tr>
            <td>{{ produk.id }}</td>
            <td>{{ produk.nama }}</td>
            <td>{{ produk.jumlah }}</td>
            <td>{{ produk.tipe_produk }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}