{% extends 'base.html' %}}
{% block content %}
    <table class="table" id="tabelpeminjaman">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nama</th>
        </tr>
        </thead>
        <tbody>
        {% for komik in data_komik %}
        <tr>
            <td>{{ komik.id }}</td>
            <td>{{ komik.nama }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}