{% extends 'base.html' %}}
{% block content %}
<div class="jumbotron sikomik" style="margin: 5% 5%;">
    <h1 class="display-4" style="color: green;">Halo!</h1>
    <p class="lead">Website ini masih belum jadi</p>
    <hr class="my-4">
    <p>Rencananya website ini akan dipakai untuk menyewa komik.</p>
    <p>Yuk, lihat list semua komik yang ada!.</p>
    <a class="btn btn-primary btn-lg" href="produk" role="button" style="background-color:white; border-color: lightgreen; color: black;">Lihat Komik</a>
  </div>
{% endblock %}