{% extends 'base.html' %}}
{% block content %}
    <div class='jumbotron'>
        <div class="pagination">
                <span class="step-links sikomik">
                    {% if data_pinjam.has_previous %}
                        <a href="?page=1" style='color:green;'>&laquo; first</a>
                        <a href="?page={{ data_pinjam.previous_page_number }}" style='color:green;'>previous</a>
                    {% endif %}
            
                    <span class="current">
                        Page {{ data_pinjam.id }} of {{ data_pinjam.paginator.num_pages }}.
                    </span>
            
                    {% if data_pinjam.has_next %}
                        <a href="?page={{ data_pinjam.next_page_number }}" style='color:green;'>next</a>
                        <a href="?page={{ data_pinjam.paginator.num_pages }}" style='color:green;'>last &raquo;</a>
                    {% endif %}
                </span>
            </div>
            <table class="table" id="tabelpeminjaman">
                <thead>
                <tr>
                    <th>No. Anggota</th>
                    <th>Komik</th>
                    <th>Durasi Pinjam</th>
                    <th>Total Biaya</th>
                    <th>Tanggal Pinjam</th>
                    <th>Tanggal Kembali</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                {% for t in data_pinjam %}
                <tr>
                    <td>{{ t.no_anggota }}</td>
                    <td>{{ t.jumlah_komik }}</td>
                    <td>{{ t.durasi_pinjam }} hari</td>
                    <td>{{ t.total_biaya }}</td>
                    <td>{{ t.tanggal_pinjam }}</td>
                    <td>{{ t.tanggal_kembali }}</td>
                    <td>{{ t.status }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
    </div>
{% endblock %}