{% extends 'base.html' %}}
{% block content %}
<div class="jumbotron sikomik" style="margin: 5% 5%;">
    <h1 class="display-4" style="color: green;">Halo!</h1>
    <h2 class="display-5">Halaman ini belum ada karena tabel transaksi baca ternyata belum dibuat di tahap sebelumnya</h2>
    <a class="btn btn-primary btn-lg" href="produk" role="button" style="background-color:white; border-color: lightgreen; color: black;">Lihat Komik</a>
  </div>
{% endblock %}